---
import Layout from '../layouts/Layout.astro';
import Content from '../layouts/Content.astro'
import Navbar from '../components/Navbar.astro';
---

<Layout title="ZT Studios">
	<main>
		<Content>
			<Navbar />
		</Content>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 400dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		background: #03021B;
	}
</style>
