---
import ContentNormal from "../layouts/ContentNormal.astro"
import { Mail } from "lucide-astro";
import { Facebook, Whatsapp } from "simple-icons-astro";

const API_KEY = '3fd46e9a-63f9-4963-a1ac-f76aacb44cc9'
---
<script>
  import Swal from 'sweetalert2'
  async function handleSendEmail (event) {
  event.preventDefault()
  console.log('Hola')
  const form = document.querySelector('#formEmail') as HTMLFormElement
  const formData = new FormData(form)
  // console.log(formData)
  const response = await fetch('https://api.web3forms.com/submit', {method: 'POST', body: formData})
  console.log(response)
  response.ok ? Swal.fire({ title: 'Éxito!', text: 'Tu correo de contacto a sido enviado, nuestro equipo correspondiente se contactara contigo en cuanto antes!.', icon: 'success', confirmButtonText: 'Listo' }) : Swal.fire({ title: 'Error!', text: 'Al parecer hubo un error, intenta de nuevo', icon: 'error', confirmButtonText: 'Cerrar' }) 
}
document.querySelector('#buttonEmail').addEventListener('click', handleSendEmail)
</script>
<section class="backgroundMain" id="contacto">
  <div class="blurCircle" style="left: -20px; top: 58px" />
  <div class="blurCircle" style="right: -20px; top: 58px" />
  <div class="blurCircle" style="bottom: 0;" />
  <ContentNormal>
    <section class="containeMain">
      <aside class="infoContainer">
        <div class="infoContainer">
          <h3 class="titleInfo">Desata el potencial con un desarrollo a la personalizado para ti</h3>
          <section>
            <span class="subtitle">También nos puedes contactar en:</span>
            <div class="iconsContent">
              <a href="https://www.facebook.com/profile.php?id=100090913550392" target="_blank">
                <div class="iconData" style="background-color: #466dce;">
                  <Facebook />
                </div>
              </a>
            </div>
          </section>
        </div>
      </aside>
      <article class="cardContact">
        <header>
          <span class="titleForm">Te contactamos nosotros</span>
          <p class="subtitleForm">Llena el siguiente formulario, para poder comunicarnos contigo.</p>
        </header>
        <div />
        <form class="formContainer" id="formEmail">
          <input type="hidden" name="access_key" value={API_KEY} >
          <div class="entryInfoContainer">
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" placeholder="Ingresa tu nombre" type="text" required/>
          </div>
          <div class="entryInfoContainer">
            <label for="apellido">Apellido</label>
            <input id="apellido" name="apellido" placeholder="Ingresa tu apellido" type="text" required/>
          </div>
          <div class="entryInfoContainer">
            <label for="telefono">Teléfono</label>
            <input id="telefono" name="telefono" placeholder="Ingresa tu numero telefonico" type="tel" required/>
          </div>
          <div class="entryInfoContainer">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Ingresa tu email" required />
          </div>
          <div class="entryInfoContainer">
            <label for="plan">Tipo de cotización</label>
            <select id="plan" name="plan" aria-label="plan" required>
              <option disabled selected value="">Selecciona un plan</option>
              <option>Landing Page</option>
              <option>Desarrollo a medida</option>
              <option>Tienda en linea</option>
              <option>Branding Básico</option>
              <option>Branding Premium</option>
              <option>Capacitación</option>
            </select>
          </div>
          <div class="h-captcha" data-captcha="true"></div>
          <button type="submit" name="submit" id="buttonEmail">Solicitar Cotización</button>
        </form>
      </article>
    </section>
  </ContentNormal>
</section>
<style>

  .infoContainer {
    z-index: 1;
  }

  .h-captcha {
    width: fit-content;
  }


  .backgroundMain {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #03021B;
    background-image: radial-gradient(#19112f 1.4000000000000001px, #03021B 1.4000000000000001px);
    background-size: 28px 28px;
    overflow: hidden;
    z-index: 0;
  }

  .blurCircle {
    position: absolute;
    width: 30%;
    height: 35%;
    border-radius: 681px;
    background: #652AC6;
    filter: blur(270px); 
  }

  .containeMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cardContact {
    padding: 24px;
    border-radius: 16px;
    background: rgba(69, 69, 69, 0.14);
    backdrop-filter: blur(15px);
    z-index: 1;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 0px;
  }

  .entryInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .titleInfo {
    max-width: 25ch;
    text-wrap: balance;
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 5;
  }

  .subtitle {
    color: #d4d4d4;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .titleForm {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
  }

  .subtitleForm {
    color: #ADADAD;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  label {
    font-size: 1rem;
    font-weight: 500;
  }

  .iconsContent {
    padding: 8px 0px;
    display: flex;
    gap: 20px;
  }

  .iconData {
    width: 45px;
    height: 45px;
    background-color: #8D20E4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input, select {
    font-weight: 500;
    font-size: 0.875rem;
    padding: 8px;
    border-radius: 8px;
    color: #242424;
    background: #fcfcfc;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }

  button {
    padding: 8px 0px;
    border-radius: 8px;
    border: 0.5px solid #652AC6;
    background: linear-gradient(90deg, #652AC6 0%, #B14DFF 100%);
    box-shadow: 0px 0px 50px 0px #652AC6;
    font-size: 0.875rem;
    font-weight: 500;
  }

  @media (width <= 1500px) {
    .titleInfo {
      max-width: 24ch;
    }
  }

  @media (width < 1366px ) {
    .containeMain {
      flex-direction: column;
      height: auto;
      gap: 16px;
    }

    .titleInfo {
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }

    .iconsContent {
      justify-content: center;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  @media (width < 600px) {
    .backgroundMain {
      height: auto;
    }

    .subtitle {
      text-wrap: nowrap;
    }
    .titleInfo {
      font-size: 2rem;
    }
  }
</style>