---
import ContentNormal from "../layouts/ContentNormal.astro"
import CardPlans from "../components/CardPlans.astro"
---

<section class="backgroundMain">
  <div class="blurCircle" />
  <ContentNormal>
    <h1 class="titleCotizaciones">Implementa soluciones digitales, incrementa tu presencia en internet o documenta tu equipo</h1>
    <section class="containerCotizaciones">
      <CardPlans 
      title="Página de Conversión" 
      description="Requieres de un portafolio, exponenciar tu negocio o marca, esto es lo que necesitas."
      active={false} 
      />
      <CardPlans 
        title="Desarrollo a tu medida"
        description="Si buscas una solucion a un problema, optimizar procesos o mejorar tu productividad."
        active={true}
      />
      <CardPlans 
        title="Capacitacion"
        description="Introduccion a tecnologias que podrias implementar, para seguir actualizando."
        active={false}
      />
    </section>
  </ContentNormal>
</section>
<style>
  .backgroundMain {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: #03021B;
    background-image: radial-gradient(#19112f 1.4000000000000001px, #03021B 1.4000000000000001px);
    background-size: 28px 28px;
  }

  .blurCircle {
    position: absolute;
    width: 80%;
    height: 35%;
    border-radius: 681px;
    background: #652AC6;
    filter: blur(350px); 
  }

  .titleCotizaciones {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 46px;
    text-wrap: balance;
    text-align: center;
    z-index: 1;
  }

  .containerCotizaciones {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  } 
</style>