<nav>
  <div class="logo">
    <img alt="logo" src="/zt-studios.svg" width="30px" />
    <span>ZT Studios</span>
  </div>
  <ul class="navigationOptions">
    <li>Inicio</li>
    <li>Cotizaciones</li>
    <li>Contacto</li>
    <li>Sobre nosotros</li>
  </ul>
  <button>Cotizar ya!</button>
</nav>
<style>
  nav {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .navigationOptions {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;
  }

  button {
    border-radius: 50px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFF 100%);
    color: black;
    padding: 12px 24px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 12px;
  }
</style>