<section class="content">
  <slot />
</section>
<style>
  .content {
    width: 90%;
    max-width: 1600px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>