---
interface Props {
	title: string;
}

const { title } = Astro.props;

import ZTStudios from '../../public/zt-studios.svg'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:image" content="https://media.discordapp.net/attachments/1155587213824888862/1200609787889598474/Mockup.png?ex=65c6cdff&is=65b458ff&hm=6eab029427850a3484748bacef0dbfa4c5d40f0a76b7e8b386e8070ffcd9c0b4&=&format=webp&quality=lossless&width=1414&height=1060">
		<meta property="og:url" content="https://www.ztstudios.com.mx/">
    <meta property="og:title" content="ZT Studios">
    <meta property="og:description" content="Solicita tu cotizacion gratuita">
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={ZTStudios.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<script src="https://web3forms.com/client/script.js" async defer></script>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	@font-face {
		font-family: 'Onest';
		src: url('/fonts/Onest.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: onest ,system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
